<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hii, <%= user.name %></h2>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <%
                if(users.length > 0){
                    for(let i=0; i < users.length; i++){
                        %>
                        <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]['_id'] %>">
                            <img src="<%= users[i]['image'] %>" alt="" width="100px" height="100px">
                            <%= users[i]['name'] %>
                        </li>
                        <%
                        if(users[i]['is_online'] == 1){
                            %>
                            <sup class="online-status" id="<%= users[i]['_id'] %>-status">Online</sup>
                            <%
                        } else {
                            %>
                            <sup class="offline-status" id="<%= users[i]['_id'] %>-status">Offline</sup>
                            <%
                        }
                    }
                }
            %>
        </ul>
    </div>

    <div class="col-md-8">

        <h3 class="start-head"> Click to Start the Chat </h3>
        <div class="chat-section">

            <div id="chat-container">
                <div class="current-user-chat">
                </div>
                <div class="distance-user-chat">
                </div>
            </div>

            <form action="" id="chat-form">
                <input type="text" name="message" placeholder="Enter Message" id="message" class="border" required>
                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>

        </div>

    </div>
</div>

<%- include('layouts/footer.ejs') %>

<script>
    var sender_id = '<%= user._id %>';
    var receiver_id;
    var socket = io('/user-namespace', {
        auth:{
            token: '<%= user._id %>'
        }
    });

    $(document).ready(function(){
        $('.user-list').click(function(){
            var userId = $(this).attr('data-id');
            receiver_id = userId;

            $('.start-head').hide();
            $('.chat-section').show();

            socket.emit('existsChats', {sender_id:sender_id, receiver_id:receiver_id});
        });
    });

    socket.on('getOnlineUser', function(data){
        $('#'+data.user_id+'-status').text('Online');
        $('#'+data.user_id+'-status').removeClass('offline-status');
        $('#'+data.user_id+'-status').addClass('online-status');
    });

    socket.on('getOfflineUser', function(data){
        $('#'+data.user_id+'-status').text('Offline');
        $('#'+data.user_id+'-status').removeClass('online-status');
        $('#'+data.user_id+'-status').addClass('offline-status');
    });

    $('#chat-form').submit(function(event){
        event.preventDefault();

        var message = $('#message').val();

        $.ajax({
            url:'/save-chat',
            type:'POST',
            data:{ sender_id: sender_id, receiver_id: receiver_id, message: message },
            success: function(response){
                if(response.success)
                {
                    $('#message').val('');
                    let chat = response.data.message;
                    let html = `
                    <div class="current-user-chat">
                        `+chat+`
                    </div>
                    `;
                    $('#chat-container').append(html);
                    socket.emit('newChat', response.data);
                }
                else {
                    alert(response.msg);
                }
            }
        });
    });

    socket.on('loadNewChat', function(data){
        if(sender_id == data.receiver_id && receiver_id == data.sender_id){
            let html = `
            <div class="distance-user-chat">
                `+data.message+`
            </div>
            `;
            $('#chat-container').append(html);
        }
    })

    // Load old chats from MongoDB
    socket.on('loadChats', function(data){
        $('#chat-container').html('');

        var chats = data.chats;

        let html = '';

        for(let x=0; x<chats.length; x++){
            if(sender_id == chats[x]['sender_id']){
                html += `
                <div class="current-user-chat">
                    `+chats[x]['message']+`
                </div>
                `;
            }
            if(sender_id == chats[x]['receiver_id']){
                html += `
                <div class="distance-user-chat">
                    `+chats[x]['message']+`
                </div>
                `;
            }
        }
        $('#chat-container').append(html);
    });
</script>