<%- include('layouts/header.ejs') %>

<div class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModalCenter">
        Create Group
    </button>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>S No</th>
                <th>Image</th>
                <th>Name</th>
                <th>Limit</th>
                <th>Members</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <%
                if(groups.length > 0){
                    for(let i=0; i<groups.length; i++){
                        %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td>
                                <img src="http://localhost:3000/<%= groups[i]['image'] %>"
                                    alt="<%= groups[i]['image'] %>" width="100px" height="100px">
                            </td>
                            <td><%= groups[i]['name'] %></td>
                            <td><%= groups[i]['limit'] %> Members</td>
                            <td>
                                <a class="cursor-pointer addMember" data-id="<%= groups[i]['_id'] %>"
                                    data-limit="<%= groups[i]['limit'] %>" data-toggle="modal"
                                    data-target="#membersModal">Members</a>
                            </td>
                            <td></td>
                        </tr>
                        <%
                    }
                }
                else{
                    %>
                    <tr>
                        <th>No Groups Found!</th>
                    </tr>
                    <%
                }
            %>
        </tbody>
    </table>
    
    <!-- Modal -->
    <div class="modal fade" id="createGroupModalCenter" tabindex="-1" role="dialog" aria-labelledby="createGroupModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="createGroupModalLongTitle">Create Group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <form action="" enctype="multipart/form-data" method="POST">
                <div class="modal-body">
                    
                    <input type="text" name="name" class="w-100 mb-2" placeholder="Enter Group Name" required>
                    <input type="file" name="image" class="w-100 mb-2" required>
                    <input type="number" min="1" name="limit" class="w-100 mb-2" placeholder="Enter User Limit" required>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>

        </div>
        </div>
    </div>

    <div class="modal fade" id="membersModal" tabindex="-1" role="dialog" aria-labelledby="membersModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="membersModalLongTitle">Members</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <form action="" id="add-member-form" method="POST">
                <div class="modal-body">
                    
                    <input type="hidden" name="group_id" id="group_id">
                    <input type="hidden" name="group_limit" id="group_limit">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="addMemberTable">
                                        <table class="table addMembersInTable">

                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Members</button>
                </div>
            </form>

        </div>
        </div>
    </div>

    <%
        if(typeof message !== 'undefined') {
            %>
                <p style="color:green"><%= message %></p>
            <%
        }  
    %>

</div>

<%- include('layouts/footer.ejs') %>